<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--PC-->
    <add name="HorseConnection" connectionString="Data Source=SERGIO-PC\SQLEXPRESS;Initial Catalog=HORSE;Integrated Security=True;user id=Sergio-pc\sergio" providerName="System.Data.SqlClient" />
    <!--Notebook-->
    <!--<add name="HorseConnection" connectionString="Data Source=SERGIO-NOTEBOOK\SQLEXPRESS;Initial Catalog=HORSE;Integrated Security=True;user id=SERGIO-NOTEBOOK\Admin" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>