<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="MyDBConnectionString" connectionString="Data Source=SERGIO-PC\SQLEXPRESS;Initial Catalog=HORSE;Integrated Security=True;user id=Sergio-pc\sergio" providerName="System.Data.SqlClient" />-->
       <!--<add name="MyDBConnectionString" connectionString=" Data Source=SERGIO-NOTEBOOK\SQLEXPRESS;Initial Catalog=HORSE;Integrated Security=True " providerName="System.Data.SqlClient" />-->
    <!--<add name="HorseConnection" connectionString="Data Source=SERGIO-PC\SQLEXPRESS;Initial Catalog=HORSE;Integrated Security=True;user id=Sergio-pc\sergio" providerName="System.Data.SqlClient" />-->
  
     <add name="HorseConnection" connectionString="Data Source=SERGIO-NOTEBOOK\SQLEXPRESS;Initial Catalog=HORSE;Integrated Security=True;user id=SERGIO-NOTEBOOK\Admin" providerName="System.Data.SqlClient" />

  <!--<add name="Proxy.Properties.Settings.proxyconect" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=model;User ID=Desarrollo-pc\Usuario" providerName="System.Data.SqlClient" />
    <add name="ProxyWORK" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=model;Integrated Security=True;user id=Desarrollo-pc\Usuario"   providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>